<!-- Content grid container -->
<div class="container ">

  <!-- Grid control bar -->
  <div class="contentGridControl">
    <h3 class="gridControlHeader">Results</h3>

    <div class="btn-group controllerDropdown" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdownButtons">
        Sort By <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
      </ul>
    </div>

  </div>

  <!-- Content grid -->
  <div class="row contentGridRow">
    <div class="col-md-4 panelForm"><app-content-panel></app-content-panel></div>
    <div class="col-md-4 panelForm"><app-content-panel></app-content-panel></div>
    <div class="col-md-4 panelForm"><app-content-panel></app-content-panel></div>
  </div>
  <div class="row contentGridRow">
    <div class="col-md-4 panelForm"><app-content-panel></app-content-panel></div>
    <div class="col-md-4 panelForm"><app-content-panel></app-content-panel></div>
    <div class="col-md-4 panelForm"><app-content-panel></app-content-panel></div>
  </div>
  <div class="row contentGridRow">
    <div class="col-md-4 panelForm"><app-content-panel></app-content-panel></div>
    <div class="col-md-4 panelForm"><app-content-panel></app-content-panel></div>
    <div class="col-md-4 panelForm"><app-content-panel></app-content-panel></div>
  </div>
</div>
