<nav class="navbar  navbar-fixed-top navbar-no-bg"  [ngClass]= "isScrolled ? 'page-scroll-header': 'page-header'" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed collapse-menu"  data-toggle="collapse" data-target="#top-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar collapse-menu-span"></span>
        <span class="icon-bar collapse-menu-span"></span>
        <span class="icon-bar collapse-menu-span"></span>
      </button>
      <a class="navbar-brand linkItem" href="index.html" style="font-weight: 900; font-size: 22px;">ANGULAR FORGE</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="linkItem">Home</a></li>
        <li><a class="linkItem">Features</a></li>
        <li><a class="linkItem">Video</a></li>
        <li><a class="linkItem">Clients</a></li>
        <li><a class="linkItem">Plans</a></li>
        <li><a class="linkItem">Faq</a></li>
        <li><a class="linkItem">Button</a></li>
      </ul>
    </div>
  </div>
</nav>
