.outerUl {
  text-align: center;
  margin: auto;
  position: relative;
}

.innerUl {
  width: 30%;
  margin: auto;
  justify-content: center;
}

#myNavbar {
  display: flex !important;
  border-top: none;
  box-shadow: none;
}

.activeUl {
  margin: auto !important;
  position: relative;
}

.page-scroll-header {
  background-color: black;
  padding-top: 10px;
  transition: all .4s;
  margin-top: 0;
}

.page-header {
  background-color: #286090;
  box-shadow: 1px 1px 15px black;
  padding-top: 10px;
  transition: all .4s;
  margin-top: 0;
}

.collapse-menu {
  background-color: transparent;
  border-color: rgba(255,255,255,.75);;
}

.collapse-menu-span {
  background-color: rgba(255,255,255,.75);;
  color: rgba(255,255,255,.75);;
  border-color: rgba(255,255,255,.75);;
}

.linkItem {
  color: rgba(255,255,255,.75);
  font-size: 16px;
  font-weight: bold;
}

.linkItem:hover {
  color: rgba(255, 60, 90, 0.75);
  background-color: transparent;
}
