
<div class="searchinputs container">
  <div class="searchbarOuter ">
      <input class="searchbarInput">
      <a class="btn btn-primary serachSearcBtn">Search <span class="glyphicon glyphicon-search"></span> </a>
      <a class="btn btn-primary serachClearBtn">Clear <span class="glyphicon glyphicon-erase"></span> </a>
  </div>
</div>


<!-- search bar dropdowns -->
<div class="searchDropdowns container">

  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdownButtons">
      Product <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>

  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdownButtons">
      Category <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>

  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdownButtons">
      Price Range <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>

  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdownButtons">
      Author <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>

</div>
